@import "./global";

.bmi-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  gap: 16px;
  margin-top: 4rem;
  padding: 1.5rem 3rem;
  box-shadow: 4px 4px 8px 1px $green;
  border-radius: 7px;
}

.bmi-form {
  align-items: center;
  padding: 1em 1.5em;
  display: flex;
  flex-direction: column;
  flex: 1;

  form {
    display: flex;
    flex-direction: column;
  }

  input,
  button {
    border: 1px solid lightgray;
    margin-block: 5px 15px;
    width: 250px;
    border-radius: 8px;
    padding: 0.75em 1em;
    font-size: 1.1rem;
  }

  button {
    background: $greenD;
    border: 1px solid $greenD;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    transition: 250ms ease-in;

    &:hover {
      background: $green;
      transition: 350ms ease-in;
    }
  }
}

.advice-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 20px;

  h2 {
    margin-block: 32px -7px;
  }

  label {
    font-size: 1.1rem;
  }

  #bmi {
    margin-right: 30px;
  }

  ol {
    margin-left: -36px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    li {
      border-radius: 4px;
      padding: 0.5em 1em;
    }
  }

  @for $i from 1 through 6 {
    li:nth-child(#{$i}) {
      background-color: hsl(($i + 9) * 12, 70%, 80%);
    }
  }
}
